In [1]:
import pandas as pd

In [27]:
data = pd.read_csv('data/stt1.kspon.200000.tsv',sep='\t')
data.head()

,file,label,length
0,KsponSpeech_03/KsponSpeech_0363/KsponSpeech_36...,나도 생각은 아 남한테 보여주기 위해서 독립 영화를 본다고 생각을 한 적은 없거든.,9.368
1,KsponSpeech_04/KsponSpeech_0387/KsponSpeech_38...,아,2.007
2,KsponSpeech_01/KsponSpeech_0012/KsponSpeech_01...,근데 한양대 논술 썼는데 그냥 붙었대.,2.810
3,KsponSpeech_03/KsponSpeech_0350/KsponSpeech_34...,근데 두 번을 망해가지고 한 번은 이제 잘 봐야 된단 말이야?,5.112
4,KsponSpeech_01/KsponSpeech_0023/KsponSpeech_02...,그래서 기억력이 그래도 언니가 가면 알아보고 아직 정신 몸은 그냥 그렇게 누워계셔두...,10.031

In [28]:
modified_file = []
for i,d in data.iterrows():
    file = d['file'].split('/')[-1]
    file = '/workspace/stt1_kspon/' + file
    modified_file.append(file)

In [29]:
data['file'] = pd.Series(modified_file)

In [30]:
data.head()

,file,label,length
0,/workspace/stt1_kspon/KsponSpeech_362777.wav,나도 생각은 아 남한테 보여주기 위해서 독립 영화를 본다고 생각을 한 적은 없거든.,9.368
1,/workspace/stt1_kspon/KsponSpeech_386376.wav,아,2.007
2,/workspace/stt1_kspon/KsponSpeech_011453.wav,근데 한양대 논술 썼는데 그냥 붙었대.,2.810
3,/workspace/stt1_kspon/KsponSpeech_349903.wav,근데 두 번을 망해가지고 한 번은 이제 잘 봐야 된단 말이야?,5.112
4,/workspace/stt1_kspon/KsponSpeech_022296.wav,그래서 기억력이 그래도 언니가 가면 알아보고 아직 정신 몸은 그냥 그렇게 누워계셔두...,10.031

In [31]:
data.to_csv('data/stt1_kspon.csv',index=False)

In [23]:
data = pd.read_csv('data/stt2.kspon.150000.tsv',sep='\t')
data.head()

,file,label,length
0,KsponSpeech_01/KsponSpeech_0028/KsponSpeech_02...,아 그래? 육군.,1.976
1,KsponSpeech_01/KsponSpeech_0048/KsponSpeech_04...,봤어. 장난 아니던데?,2.928
2,KsponSpeech_03/KsponSpeech_0309/KsponSpeech_30...,다른 데서 붙고,1.188
3,KsponSpeech_01/KsponSpeech_0028/KsponSpeech_02...,헷갈리네.,1.501
4,KsponSpeech_03/KsponSpeech_0260/KsponSpeech_25...,응 식 할 때 보고 그다음에도 두 번 정도?,6.120

In [24]:
modified_file = []
for i,d in data.iterrows():
    file = d['file'].split('/')[-1]
    file = '/workspace/stt2_kspon/' + file
    modified_file.append(file)

In [25]:
data['file'] = pd.Series(modified_file)

In [26]:
data.to_csv('data/stt2_kspon.csv',index=False)

In [22]:
for i in data['file'].values:
    print(i)
    break

stt2_kspon/KsponSpeech_027952.wav